<div class="container">
  <div class="row">
    <div class="col-md-12">
          <h2>INTERVIEW PANEL <small class="pull-right">{{ TodayDate | date }} </small></h2>
    </div>
    <div class="col-md-9">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Bhuvaneswari Srinivasan</label>
            <div class="col-sm-9">
              <select [(ngModel)]="selectedRoles" (ngModelChange)="onChange($event)" class="form-control" required  >   <option *ngFor="let role of Roles"  [ngValue]="role"  >{{role.name}}</option></select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Total Experience:</label>
            <div class="col-sm-3">
              <select  class="form-control" required [(ngModel)]="selectedTotalExp" (ngModelChange)="onChange($event)"  >   <option   *ngFor="let exp of TotalExperience"  [ngValue]="exp"  >{{exp.name}}</option></select>
            </div>
            <label for="inputEmail3" class="col-sm-3 control-label">Relevant Experience:</label>
            <div class="col-sm-3">
              <select  class="form-control" required [(ngModel)]="selectedRelevantExp" (ngModelChange)="onChange($event)"  >   <option *ngFor="let exp of RelevantExperience"  [ngValue]="exp"  >{{exp.name}}</option></select>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Candidate</h3>
  </div>
  <div class="panel-body">
    CAND1234
  </div>
</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="text-center">Copyright</div>
    </div>
  </div>
